*,
::after,
::before,
h3, h4 {
    margin: 0;
    padding: 0;
    color: hsl(209, 34%, 30%);
}


body {
    background-color: hsl(210, 36%, 96%);
}

.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.container-brand {
    text-transform: capitalize;
    font-size: 1.5em;
}

.container-brand a {
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
}

.container-nav li {
    display: inline-block;
    padding-top: 0.5rem;
}

.container-nav a{
    position: relative;
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
}

.container-nav .container-navactive{
    position: relative;
    background: hsl(216, 7%, 86%);
}

.container-nav a::before{
    content: "";
    position: absolute;
    background: hsl(209, 34%, 30%);
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.container-nav a:hover:before{
    width: 100%;
}

.container-socials li {
    display: inline-block;
    padding-top: 0.5rem;
}

.container-socials a {
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.container-socials a:hover{
    color: #3acec2;
}

.home{
    /* background-color: #3acec2; */
    padding: 10% 15% 9.5%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(31, 29, 29);
    text-align: left;
    width: 70%;
} 

.home img{
    border-radius: 50%;
    margin-left: 3em;
}

.home span{
    padding-left: 0em;
}

.headline{
    background-color: #3acec2;
    padding: 1.0% 15%;
    text-align: center;
}

.headline img{
    margin-left: 3em;
    width: 10em;
    height: auto;
}

.text-title{
    color: hsl(208, 24%, 11%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0rem;
    transition: all 0.3s linear;
    text-decoration: none;
    font-weight: lighter;
}

.text-body{
    color: hsl(205, 36%, 27%);
}

.experience{
    padding: 3.5% 15% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
} 

.project{
    /* padding: 5% 7% 7% ; */
    padding: 3.5% 15% 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project .project-info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.project-info img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}



.footer{
    background-color: white;
    padding: 1.3em;
    text-align: center;
}

.footer span{
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
}
